/* Basisstijl voor de hele pagina */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f5f7fa;
    color: #333;
}

/* Header-styling voor de site-header */
.site-header {
    background-color: #4a90e2;
    padding: 10px 20px;
    color: #fff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.site-title {
    font-size: 1.5em;
    margin: 0;
}

.github-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.github-link:hover {
    color: #d1e4ff;
}

/* Container die alle elementen bevat */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    margin: 40px auto; /* Zorgt voor ruimte tussen de header en container */
    text-align: center;
}

/* Header-styling */
.container header h1 {
    font-size: 2.5em;
    margin: 0 0 20px;
    color: #4a90e2;
}

/* Stijl voor de psalm tekst */
.verse {
    font-size: 1.5em;
    margin-bottom: 30px;
    line-height: 1.6;
    color: #555;
}

/* Audio-speler styling */
footer audio {
    width: 100%;
    outline: none;
    border-radius: 5px;
}

/* Media Queries voor kleinere schermen */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .site-header {
        padding: 10px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .github-link {
        margin-top: 10px;
    }

    .container header h1 {
        font-size: 2em;
    }

    .verse {
        font-size: 1.1em;
        line-height: 1.3;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .container header h1 {
        font-size: 1.8em;
    }

    .verse {
        font-size: 1.2em;
    }
}
