body {
    font-family: "Times New Roman", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #07058d;
}

.container {
    text-align: center;
    background-color: #a4bac4;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.verse {
    font-size: 2.1em;
    color: #333;
}

#verse {
    white-space: pre-wrap; /* Zorgt ervoor dat de tekst in nieuwe regels breekt zoals in de originele HTML */
}

/* Media Queries voor kleinere schermen */
@media (max-width: 768px) {
    .verse {
        font-size: 1.8em;
    }

    .container {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .verse {
        font-size: 1.5em;
    }

    .container {
        padding: 15px;
    }
}
